<link href="/css/quiz.css" rel="stylesheet">

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Quiz</h2>
        </div>
        <div class="col-md-6">
            <button type="button" class="pull-right btn btn-success btn-lg btn-next-question">Next Section</button>
            <button type="button" class="pull-right btn btn-primary btn-lg btn-exit-test">Exit</button>
            <nav aria-label="Quiz navigation" class="pull-right">
                <ul class="pagination section-paginator">
                    {{#each sections}}
                        <li {{#if current}}class="active"{{/if}}>
                            <a href="/quiz/section/{{number}}">{{number}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </div>        

    <div class="row title-row">
        <div class="col-md-6">
            <h3>Input</h3>
        </div>
        <div class="col-md-6">
            <h3>Output</h3>
        </div>
    </div>

    {{#each sectionData}}
        <div class="row question-row">
            <div class="col-md-6">
                <textarea class="form-control" disabled rows="7">{{input}}</textarea>
            </div>
            <div class="col-md-6">
                <textarea id="{{#unless example}}question-{{id}}{{/unless}}" 
                        class="form-control" {{#if example}}disabled{{/if}} 
                        rows="7">{{output}}</textarea>
            </div>
        </div>
    {{/each}}

</div> <!-- /container -->
